<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net-net-1.0"/>
  </configSections>

  <log4net>
    <root>
      <level value="ALL"/>
      <!--  <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" /> -->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="50MB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="'\\Log'yyyyMMdd'.log'"/>
      <param name="RollingStyle" value="Composite"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p [%l] - %m%n"/>
      </layout>
    </appender>
  </log4net>

  <appSettings>
    <!--server-->
    <!--sql server 10.10.23.190 jf/jf123-->
    <add key="MySqlConnStr" value="server=192.168.10.41;user id=gp;password=123;database=gp"/>
    <add key="OracleConnStr" value="User Id=SEL1_CSS_DBA;Password=CSS;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.206.136)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl.168.206.136)))"/>
    <add key="MSSqlConnStr" value="server=localhost;user=gp;password=gp123;database=test"/>
    
    <add key="ip" value="192.168.10.11"/>
    <add key="plc_port" value="51888"/>
    <add key="kb_port" value="51889"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
